/* Generell stil for hele siden */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

/* Overskrifter */
h1, h2 {
    text-align: center;
    color: #333;
}

/* Registreringsskjema */
form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Etiketter for skjemafeltene */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Skjemafelter */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Send-knappen */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Oppsummering */
#oppsummering {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Liste med deltakere */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}